*{
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-info{
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #282d35;
  border-radius: 5px;
  width: 30%;
}

.text-info{ padding: 0px 15px 10px 15px;}

img{
  width: 100%;
  height: auto;
}

.Info{
  text-align: center;
  color:  #61dafb;
}

.info-name{
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

.info-job{
  margin-top:-10px;
  font-size: 14px;
  margin-bottom: -5px;
}

.info-email{
  font-size: 12px;
}

.contact{
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  width:120px;
  height: 35px;
  border-radius: 5px;
  border: 0;
}

.contact-linkedin{
  background-color: #0072b1;
  color:#fff;
  margin-left: 13px;
}

.contact-linkedin:hover{
  background-color: #86888a;
  cursor: pointer;
}

.contact-linkedin:active{
  background-color: #0072b1;
  cursor: pointer;
}

.contact-email:hover{
  background-color: #61dafb;
  color:#fff;
  cursor: pointer;
}

.about-info{
  margin-top: 35px;
}

.interest-title,.about-title{
  color: #fff;
}

.interest-desc,.about-desc{
  color: #61dafb;
  font-size: 13px;
}